@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-w-8xl {
  max-width: 107.5rem;
}

.h-4xl {
  height: 46rem;
}

.link-style {
  @apply font-medium uppercase;
}